{{#any _coverMenuAudio._indicatorGraphic._default _coverMenuAudio._indicatorGraphic._isPassed _coverMenuAudio._indicatorGraphic._isFailed _coverMenuAudio._indicatorGraphic._isVisited _coverMenuAudio._indicatorGraphic._isLocked}}
<div class="covermenu-item__indicator-inner" role="menuitem">
	<button class="covermenu-item__indicator-graphic" aria-label="{{_coverMenuAudio._ariaLabels.menuItemPage}}">
		{{#if _isComplete}}
			{{#if _assessment}}
				{{#if _assessment.isPassed}}
					<img src="{{_coverMenuAudio._indicatorGraphic._isPassed}}"/>
				{{else}}
					<img src="{{_coverMenuAudio._indicatorGraphic._isFailed}}"/>
				{{/if}}
			{{else}}
				<img src="{{_coverMenuAudio._indicatorGraphic._isComplete}}"/>
			{{/if}}
		{{else}}
			{{#if _isVisited}}
				<img src="{{_coverMenuAudio._indicatorGraphic._isVisited}}"/>
			{{else}}
				{{#if _isLocked}}
					<img src="{{_coverMenuAudio._indicatorGraphic._isLocked}}"/>
				{{else}}
					<img class="accessibility-indicator-graphic" src="{{_coverMenuAudio._indicatorGraphic._default}}"/>
				{{/if}}
			{{/if}}
		{{/if}}
	</button>
</div>
{{/any}}
