{{! make the _globals object in course.json available to this template}}
{{import_globals}}
<div class="menu-container" role="region" aria-label="{{_globals._menu._coverMenuAudio.ariaRegion}}">
	<div class="menu-intro-screen" style="background-image: url({{_coverMenuAudio._backgroundGraphic.src}});">
		<div class="menu-intro-screen-inner">
			{{#if displayTitle}}
			<div class="menu-title" role="heading">
				<h1 class="menu-title-inner">
					{{{compile displayTitle this}}}
				</h1>
			</div>
			{{/if}}
			{{#if body}}
			<div class="menu-body">
				<div class="menu-body-inner">
					{{{compile body this}}}
				</div>
			</div>
			{{/if}}
			{{#if instruction}}
			<div class="menu-instruction">
				<div class="menu-instruction-inner">
					{{{compile instruction this}}}
				</div>
			</div>
			{{/if}}
			<button class="menu-reveal-items">{{{compile _coverMenuAudio.linkStartText this}}}</button>
		</div>
	</div>
	<div class="menu-item-container" role="menu">
		<div class="menu-item-container-inner clearfix">
		{{!-- Items rendered here --}}
		</div>
		<div class="menu-item-indicator-container">
			<div class="menu-item-indicator-container-inner clearfix">
				{{#if _coverMenuAudio._introItemGraphic.src}}
				<div class="menu-item-indicator item-intro-indicator" aria-label="">
					<button class="base menu-item-indicator-graphic menu-item-intro">
						<img src="{{_coverMenuAudio._introItemGraphic.src}}"/>
					</button>
				</div>
				{{/if}}
				{{!-- Indicators rendered here --}}
			</div>
		</div>
		<button class="base menu-item-control menu-item-control-left icon-controls-left icon" aria-label="{{_globals._accessibility._ariaLabels.previous}}"></button>
		<button class="base menu-item-control menu-item-control-right icon-controls-right icon" aria-label="{{_globals._accessibility._ariaLabels.next}}"></button>
	</div>
</div>
