{{import_globals}}

<div class="menu__inner covermenu__inner">

	<div class="menu__item-container">
		<div class="menu__item-container-inner js-children" role="list">
		{{!-- Items rendered here --}}
		</div>

		<div class="covermenu-item__indicator-container">
			<div class="covermenu-item__indicator-container-inner">

				{{#if _coverMenuAudio._introItemGraphic.src}}
				<div class="covermenu-item__indicator">
					<div class="covermenu-item__indicator-inner" role="menuitem">
						<button class="covermenu-item__indicator-graphic js-covermenu-intro-btn" aria-label="{{_coverMenuAudio._introItemGraphic.alt}}">
							<img src="{{_coverMenuAudio._introItemGraphic.src}}"/>
						</button>
					</div>
				</div>
				{{/if}}

				{{!-- Indicators rendered here --}}
			</div>
		</div>

		<button class="btn-icon covermenu__control covermenu__control-left" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
			<div class="icon icon-controls-left"></div>
		</button>

		<button class="btn-icon covermenu__control covermenu__control-right" aria-label="{{_globals._accessibility._ariaLabels.next}}">
			<div class="icon icon-controls-right"></div>
		</button>
	</div>

</div>
